<img src="/static/images/bee-splash.jpg" alt="A bee flying near a flower" />
<h2>Compare pollination management scenarios to optimize your yield</h2>
<p>
    Pollination Mapper is a web-based modeling tool that allows growers and other farm decision makers to assess current pollination conditions and evaluate alternative management options. Both managed and wild bees contribute to crop pollination. In four simple steps you can learn how to optimize managed and wild pollination conditions on your farm. 
</p>
<ol>
    <li>Outline your crop field</li>
    <li>Map out the current farm conditions (e.g. crops, pollinator habitat, and honey bee stocking rates)</li>
    <li>Create pollination management scenarios by adjusting honey bee stocking rates and/or the size and location of pollinator plantings on your farm.</li>
    <li>Compare how different scenarios impact your crop’s pollination and yield.</li>
</ol>
<p>
    This <a href="http://icpbees.org/tools-for-growers/help/">Quick Start Guide</a> will walk you through the process in more detail.
</p>
<div class="action-button">
    <button id="get-started" class="btn btn-active btn-lg btn-block" type="button">Get started <i class="fa fa-arrow-right"></i></button>
</div>
