<img src="/static/images/bee-splash.jpg" alt="A bee flying near a flower" />
<h2>Compare pollination management scenarios to optimize your yield</h2>
<p>
    Learn how to integrate managed and wild pollination on your farm in five simple steps using the Pollination Mapper tool:
</p>
<ol>
    <li>Zoom in to your farm using the map on the left.</li>
    <li>Outline your crop field.</li>
    <li>Update the current crop map.</li>
    <li>Create pollination management scenarios by adjusting honey bee stocking rates and/or the size and location of pollinator plantings on your farm.</li>
    <li>Compare how different scenarios impact your crop’s pollination and yield.</li>
</ol>
<p>
    This <a href="http://icpbees.org/tools-for-growers/help/"><b><i class="fa fa-book"></i> Help Page</b></a> will walk you through the process in more detail.
</p>
<div class="action-button">
    <button id="get-started" class="btn btn-active btn-lg btn-block" type="button">Get started <i class="fa fa-arrow-right"></i></button>
</div>
