<h1>Select Area</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac pharetra nibh. Nullam gravida massa non egestas pellentesque. Nam vitae fermentum ex. Maecenas accumsan velit sit amet justo lobortis maximus. Quisque a ullamcorper est, sit amet imperdiet nunc. Suspendisse rhoncus consequat laoreet. Nam malesuada purus et blandit dictum.</p>
{% if not isDrawing and not isDrawn %}
    <button id="start-drawing" class="btn btn-active btn-lg btn-block" type="button">Start drawing</button>
{% endif %}
{% if isDrawing %}
    <button id="cancel-drawing" class="btn btn-lg btn-block" type="button">Cancel drawing</button>
{% endif %}
{% if isDrawn %}
    <a data-url="/project/new/yield" class="btn btn-active btn-lg btn-block">Confirm <i class="fa fa-arrow-right"></i></a>
    <button id="cancel-drawing" class="btn btn-lg btn-block" type="button"><i class="fa fa-arrow-left"></i> Redraw area</button>
{% endif %}
