// The height and width must be set to 100%
// so that the actual height and width of the
// enclosing element will get propagated down to the
// bar-chart elements.
.chart-container {
  width: 100%;
  height: 100%;
}

.bar-chart {
  width: 100%;
  display: block;
  height: 300px;
  vertical-align: baseline;
  vertical-align: bottom;

  .nv-bar {
    fill: $brand-primary;
  }

  .nv-x .tick line { display: none; }

  // Official CDL legend colors for classes selected for display
  @for $i from 1 through 47 {
    .crop-#{$i} {
      fill: map-get($cropColors, $i)
    }
  }

  .scenario { fill-opacity: 0.4; }
  .current-conditions { fill-opacity: 0.8; }

  svg {
    width: 450px;
    height: 300px;
  }
}
