.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 80px;
    font-size: $font-size-med;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.5);
    cursor: default;

    &:not(:last-child) {
        margin-bottom: 1.4rem;
    }

    &__top {
        display: flex;
        width: 100%;
        height: 3.6rem;
        padding: 0.6rem;
        border-bottom: 1px solid $color-grey-5;
    }

    &__bottom {
        width: 100%;
        height: 3.6rem;
        padding: 0.9rem 0.6rem;
        text-align: center;
    }

    &__identification {
        display: flex;
        flex: 1;
        min-height: $marker-size;
        overflow: hidden;
        white-space: nowrap;
    }

    &__name {
        flex: 1;
        padding: 0.1rem 0.5rem;
        overflow: hidden;
        font-weight: $font-weight-normal;
        font-size: $font-size-med;
        font-family: inherit;
        text-overflow: ellipsis;
        border: 1px solid transparent;

        &-editing {
            border: 1px solid $color-grey-4;
        }

        &-hovering {
            border: 1px solid $color-grey-5;
        }
    }

    &__benchmarklocation {
        font-weight: $font-weight-light;
    }

    &__button {
        padding: 0.4rem;
        color: $color-grey-3;
        font-size: 14px;
        line-height: 0;
        background: none;
        border: none;
        cursor: pointer;

        &:last-child {
            margin-right: -0.4rem;
        }
    }

    &__icon {
        width: 14px;
        height: 14px;
    }

    .marker {
        padding: 0;
        outline: none;
        cursor: pointer;
    }
}
