.header {
    z-index: 1000;
    flex-shrink: 0;
    width: 100%;
    height: 46px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    line-height: 46px;
    background-color: #fff;
    box-shadow: 0 0 3px #0000003d;
}
