.indicator {
    display: flex;
    cursor: default;

    &__number {
        margin-right: 0.5rem;
        font-weight: 600;
        font-size: $font-size-med;
        text-align: right;
        font-feature-settings: "tnum";
    }

    &__name {
        position: relative;
        top: 1px;
        color: $color-grey-3;
        font-weight: $font-weight-light;
        font-size: $font-size-base;
        text-transform: capitalize;
    }

    &__popup {
        display: flex;
        flex-direction: column;
        padding: 4px;

        .name {
            margin-bottom: 0.5rem;
            font-weight: $font-weight-bold;
            text-align: left;
        }

        .scoreTable {
            width: 100%;

            &__th {
                padding: 0 2px;
                color: $color-grey-3;
                font-weight: $font-weight-light;
                font-size: $font-size-base;
                text-transform: capitalize;
            }

            &__td {
                color: $color-grey-2;
                font-size: $font-size-base;
            }
        }

        .description {
            font-size: $font-size-base;
            text-align: left;
        }

        .scores {
            display: flex;
            justify-content: space-between;
        }

        .value {
            font-weight: $font-weight-bold;
        }
    }
}

@include media("<=tablet") {
    .indicator {
        font-size: $font-size-sm;
    }
}

.indicator-container {
    display: flex;
    justify-content: space-between;
}
