.indicator {
    display: flex;

    &__number {
        margin-right: 0.6rem;
        font-weight: 600;
        font-size: larger;
        text-align: right;
        font-feature-settings: "tnum";
    }

    &__name {
        color: $color-grey-3;
        text-transform: capitalize;
    }

    &__popup {
        display: flex;
        flex-direction: column;
        justify-content: left;

        .name {
            font-weight: $font-weight-bold;
        }

        .scores {
            display: flex;
            justify-content: space-around;
        }

        .value {
            font-weight: $font-weight-bold;
        }
    }
}

@include media("<=tablet") {
    .indicator {
        font-size: $font-size-sm;
    }
}

.indicator-container {
    display: flex;
    justify-content: space-around;
}
