.survey {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    background-color: $color-grey-5;

    &.empty {
        align-items: center;
    }

    &__header {
        width: 600px;
        margin-top: 3rem;
        font: $font-xxl;
        font-weight: $font-weight-bold;

        &.empty {
            margin-top: 8rem;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        width: 600px;
        margin: 2rem 0;
        font: $font-med;

        &--section {
            margin: 2rem 0;
            font: $font-lg;
            font-weight: $font-weight-bold;
        }
    }

    &__button {
        max-width: max-content;
        margin: 2rem 0;
        padding: 15px;
        color: $color-white;
        font-size: 14px;
        text-decoration: none;
        background: $color-primary;
        border: none;
    }
}

.surveyCard {
    display: flex;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.5);

    &:not(:last-child) {
        margin-bottom: 1.4rem;
    }

    &__map {
        width: 200px;
        height: 200px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__title {
        font: $font-lg;
        font-weight: $font-weight-bold;
    }

    &__body {
        display: flex;
        flex-direction: column;
        font: $font-med;
        text-decoration: none;
    }
}
