[staging]
Region: 'us-east-1'
StackType: 'Staging'
KeyName: 'stg'
IPAccess: '0.0.0.0/0'
AvailabilityZones: 'us-east-1a,us-east-1c'
BastionHostInstanceType: 't2.medium'
BastionInstanceProfile: 'BastionInstanceProfile'
PrivateHostedZoneName: 'icp.internal'
PublicHostedZoneName: 'staging.app.pollinationmapper.org'
BackwardCompatPublicHostedZoneName: 'staging.app.beescape.org'
RDSInstanceType: 'db.t2.micro'
RDSDbName: 'icp_bees'
RDSUsername: 'icp_bees'
RDSPassword: 'icp_bees'
ECInstanceType: 'cache.m1.small'
GlobalNotificationsARN: 'arn:aws:sns:us-east-1...'
AppServerInstanceType: 't2.micro'
# Leaving this commented dynamically looks up the
# most recent AMI for this type.
#AppServerAMI: ''
AppServerInstanceProfile: 'AppServerInstanceProfile'
AppServerAutoScalingDesired: '1'
AppServerAutoScalingMin: '0'
AppServerAutoScalingMax: '1'
AppServerAutoScalingScheduleStartCapacity: '1'
AppServerAutoScalingScheduleStartRecurrence: '0 13 * * 1-5'
AppServerAutoScalingScheduleEndCapacity: '0'
AppServerAutoScalingScheduleEndRecurrence: '0 1 * * *'
SSLCertificateARN: 'arn:aws:acm:us-east-1...'
BackwardCompatSSLCertificateARN: 'arn:aws:acm:us-east-1...'
WorkerInstanceType: 't2.micro'
# Leaving this commented dynamically looks up the
# most recent AMI for this type.
#WorkerAMI: ''
WorkerInstanceProfile: 'WorkerInstanceProfile'
WorkerAutoScalingDesired: '1'
WorkerAutoScalingMin: '0'
WorkerAutoScalingMax: '1'
WorkerAutoScalingScheduleStartCapacity: '1'
WorkerAutoScalingScheduleStartRecurrence: '0 13 * * 1-5'
WorkerAutoScalingScheduleEndCapacity: '0'
WorkerAutoScalingScheduleEndRecurrence: '0 1 * * *'
RollbarServerSideAccessToken: ''
BeekeepersDataBucket: 'beekeepers-staging-data-us-east-1'
