.indicator {
    display: flex;
    padding-right: 1.4rem;

    &__number {
        width: 2.4rem;
        margin-right: 0.6rem;
        font-weight: 600;
        font-size: $font-size-med;
        text-align: right;
        font-feature-settings: "tnum";
    }

    &__name {
        color: $color-grey-3;
    }

    &--hive-density {
        width: 25%;
    }

    &--habitat {
        width: 18%;
    }

    &--pesticide {
        width: 20%;
    }

    &--forage {
        width: 17%;
    }

    &--overall {
        width: 20%;
    }
}

.indicator-container {
    display: flex;
}
