.sidebar {
    flex: 1;
    min-width: 520px;
    max-width: 600px;
    height: 100%;
    padding: 2rem;
    overflow-y: auto;
    background-color: #f8f9fb;

    &__header {
        margin-top: 1rem;
        margin-bottom: 1.6rem;
        font-weight: 900;
        font-size: $font-size-xl;
    }
}
