.header {
    flex-shrink: 0;
    width: 100%;
    height: 46px;
    padding-right: 2rem;
    padding-left: 2rem;
    line-height: 46px;
    background-color: #fff;
    border-bottom: 1px solid #d8d8d8;
}
