//Base Colors
$black-06: rgba(0,0,0,.06);
$black-12: rgba(0,0,0,.12);
$black-24: rgba(0,0,0,.24);
$black-39: rgba(0,0,0,.39);
$black-54: rgba(0,0,0,.54);
$black-65: rgba(0,0,0,.65);
$black-74: rgba(0,0,0,.74);
$black: #000000;
$paper-12: rgba(255,255,255,.12);
$paper-54: rgba(255,255,255,.54);
$paper-74: rgba(255,255,255,.74);
$paper: #ffffff;
$clear: rgba(0,0,0,0);

//Custom Colors
$ui-primary: #464648; /*Dark Grey*/
$ui-secondary: #525659; /*Medium Grey*/
$ui-light: #eceff1; /*Light Grey*/
$ui-grey: #787878 ; /* Output Tab Bar */
$ui-disabled: #a4a4a4;
$ui-danger: #e0412d; /*Errors*/
$active: #478aaf ; /* Blue */
$brand-primary: #f9cf2f; /* Honeycomb Yellow */
$sky-blue: #bbe5f5; /*Sky*/
$water: #49b8ea; /*Water*/

//Type
$font-family: 'Roboto', helvetica, arial, sans-serif;
$font-h1: 1.8rem;
$font-h2: 1.5rem;
$font-h3: 1.0rem;

//Heights
$footer-height: 55%;
$location-description-height: 68px;
$toolbar-height: 60px;
$output-height: 50px;
$height-lg: 44px;
$height-md: 36px;
$height-sm: 28px;
$height-xs: 18px;
$sidebar-width: 460px;
$sidebar-header-height: 40px;
$sidebar-tab-subheader-height: 60px;

//Border-radius
$radius-sm: 2px;

//CDL Colors
// TODO replace with official legend colors
$cropColors: (
    1: #5475A8,
    2: #E8D1D1,
    3: #E29E8C,
    4: #ff0000,
    5: #B50000,
    6: #D2CDC0,
    7: #85C77E,
    8: #DCCA8F,
    9: #FDE9AA,
    10: #FBF65D,
    11: #CA9146,
    12: #C8E6F8,
    13: #E29E8C,
    14: #ff0000,
    15: #B50000,
    16: #D2CDC0,
    17: #85C77E,
    18: #DCCA8F,
    19: #FDE9AA,
    20: #FBF65D,
    21: #5475A8,
    22: #E8D1D1,
    23: #E29E8C,
    24: #ff0000,
    25: #B50000,
    26: #D2CDC0,
    27: #85C77E,
    28: #DCCA8F,
    29: #FDE9AA,
    30: #FBF65D,
    31: #5475A8,
    32: #E8D1D1,
    33: #E29E8C,
    34: #ff0000,
    35: #B50000,
    36: #D2CDC0,
    37: #85C77E,
    38: #DCCA8F,
    39: #FDE9AA,
    40: #FBF65D,
    41: #5475A8,
    42: #E8D1D1,
    43: #E29E8C,
    44: #ff0000,
    45: #B50000,
    46: #D2CDC0,
    47: #85C77E
);
