//Base Colors
$black-06: rgba(0,0,0,.06);
$black-12: rgba(0,0,0,.12);
$black-24: rgba(0,0,0,.24);
$black-39: rgba(0,0,0,.39);
$black-54: rgba(0,0,0,.54);
$black-65: rgba(0,0,0,.65);
$black-74: rgba(0,0,0,.74);
$black: #000000;
$paper-12: rgba(255,255,255,.12);
$paper-54: rgba(255,255,255,.54);
$paper-74: rgba(255,255,255,.74);
$paper: #ffffff;
$clear: rgba(0,0,0,0);

//Custom Colors
$ui-primary: #464648; /*Dark Grey*/
$ui-secondary: #525659; /*Medium Grey*/
$ui-light: #eceff1; /*Light Grey*/
$ui-grey: #787878 ; /* Output Tab Bar */
$ui-disabled: #a4a4a4;
$ui-danger: #e0412d; /*Errors*/
$active: #478aaf ; /* Blue */
$brand-primary: #F1C40F; /* Honeycomb Yellow */
$sky-blue: #bbe5f5; /*Sky*/
$water: #49b8ea; /*Water*/

//Type
$font-family: 'Roboto', helvetica, arial, sans-serif;
$font-h1: 1.8rem;
$font-h2: 1.5rem;
$font-h3: 1.0rem;

//Heights
$footer-height: 55%;
$location-description-height: 68px;
$toolbar-height: 53px;
$output-height: 50px;
$height-lg: 44px;
$height-md: 36px;
$height-sm: 28px;
$height-xs: 18px;
$sidebar-width: 460px;
$sidebar-width-lg: 485px;
$sidebar-header-height: 40px;
$sidebar-tab-subheader-height: 60px;

//Border-radius
$radius-sm: 2px;

//CDL Colors
$cropColors: (
    1: #ffd400,
    2: #ff2626,
    3: #00a8e3,
    4: #267000,
    5: #ffff00,
    6: #00b04a,
    7: #7dd4ff,
    8: #707000,
    9: #d1ff00,
    10: #ffa6e3,
    11: #a6f38c,
    12: #ffff7d,
    13: #a800e3,
    14: #702600,
    15: #00deb0,
    16: #ff6666,
    17: #ffcc66,
    18: #f3a378,
    19: #54ff00,
    20: #000099,
    21: #e8c0ff,
    22: #b0ffde,
    23: #c0c078,
    24: #00ff8c,
    25: #c7d79e,
    26: #ccc0a3,
    27: #ba004f,
    28: #b07dff,
    29: #007878,
    30: #b09970,
    31: #d79ebd,
    32: #b5705c,
    33: #58a060,
    34: #4a70a3,
    35: #7db0b0,
    36: #d7d700,
    37: #a60000,
    38: #70458a,
    39: #ff8fab,
    40: #94cc94,
    41: #afd8d4,
    42: #d4e3fa,
    43: #00ffff,
    44: #e8d7b0,
    45: #334a33,
    46: #e8ffc0,
    47: #e37026
);
