$color-black: #000;
$color-white: #fff;
$color-primary: #1f8cec;

// Marker colors
$color-selected: #0ac4ff;
$color-starred: #f3b45a;
$color-starred-survey: #20dacc;

// Icon colors
$color-star: $color-starred;
$color-clipboard: $color-starred-survey;

$color-grey-1: #333;
$color-grey-2: #666;
$color-grey-3: #9191a1;
$color-grey-4: #ccc;
$color-grey-5: #ececec;

$sidebar-background: #f8f9fb;

$text-dark: #32323c;
