$font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;

$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 700;

$font-size-xs: 1rem;
$font-size-sm: 1.2rem;
$font-size-base: 1.4rem;
$font-size-med: 1.6rem;
$font-size-lg: 2rem;
$font-size-xl: 2.4rem;
$font-size-xxl: 3.6rem;
$font-size-3xl: 4.8rem;
$font-size-4xl: 7.2rem;

$font-xs: #{$font-size-xs}/1.6rem $font-family;
$font-sm: #{$font-size-sm}/1.6rem $font-family;
$font-base: #{$font-size-base}/2rem $font-family;
$font-med: #{$font-size-med}/2.4rem $font-family;
$font-lg: #{$font-size-lg}/3.2rem $font-family;
$font-xl: #{$font-size-xl}/3.6rem $font-family;
$font-xxl: #{$font-size-xxl}/5.4rem $font-family;
$font-3xl: #{$font-size-3xl}/6.4rem $font-family;
$font-4xl: #{$font-size-4xl}/9.6rem $font-family;
